@model imperugo.JavascriptResult.Controllers.PartialModel

The current user is <string>@Model.Firstname @Model.Lastname</string> and his website is available <a href="@Model.Website" target="_blank">here</a>
