@{
    ViewBag.Title = "Home Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Message</h1>
        </hgroup>
        <p>
            For more info<a href="http://www.tostring.it">this site</a> or contact me <a href="http://twitter.com/imperugo">here</a>
        </p>
    </div>
</section>
}